<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
</head>
<body>
    <div class="base-container">
        <div class="base-header">
            <div class="base-logo">
                <h1>This is img</h1>
            </div>
            <div>
                <ul class="base-ul">
                    <li class="base-li"><a class="active" href="{% url 'homepage:home' %}">Home</a> </li>
                    <li class="base-li"><a href="#gameguides">Game guides</a> </li>
                    <li class="base-li"><a href="{% url 'first_app:index' %}">Example</a> </li>
                    <li class="base-li"><a href="{% url 'download_youtube:dashboard' %}">Youtube Download</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <link rel="stylesheet" href="{% static 'css/homepage_index.css' %}"/>
            <div class="home-page-container">
                <div class="home-page-menu">
                    <ul class="home-page-ul">
                        {% block menu %}
                        {% endblock %}
                    </ul>
                </div>
                <div class="home-page-content-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


</body>
</html>